body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;

}



nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

nav img {
    width: 100px;
}



/* Style for the container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Style for the login form */
form {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin-top: 200px;
    width: 100%;
    animation: music 2s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

form input[type="submit"] {
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


form input[type="submit"]:hover {
    background-color: #005ea6;
    transform: scale(1.1);
}

form p {
    color: red;
    margin-top: 10px;
    font-size: 16px;
}

@keyframes music {
    0% {
        transform: rotateZ(0deg);
    }

    33% {
        transform: rotateZ(5deg);
    }

    66% {
        transform: rotateZ(-5deg);
    }

    100% {
        transform: rotateZ(0deg);

    }
}